body{
    font-family: arial;
}
h2 {
    margin:.2em;
}

* {
    box-sizing:border-box;
}

#stage {
    width:400px;
    height: 400px;
}

.cell {
    border: 1px outset #aaa;
    background-color:#cccccc;
    float:left;
    opacity: 0.5;
    cursor: pointer;
    text-align: center;
}

.bomb {
    color: #ff0000;
    font-weight: bold;
}

.red {
    color:#ff0000;
}
.green {
    color:#00ff00;
}
.blue {
    color:#0000ff;
}

.show {
    background-color: #caffc5;
}

.flagged {
    background-color: #fffd6f;
}
