body{
    font-family: arial;
}
h2 {
    margin:.2em;
}

* {
    box-sizing:border-box;
}

#stage {
    clear:both;
    width:400px;
    height: 400px;
}

.cell {
    border: 1px outset #aaa;
    background-color:#cccccc;
    float:left;
    opacity: 0.5;
    cursor: pointer;
    text-align: center;
}

.bomb {
    color: #ff0000;
    font-weight: bold;
}

.show {
    background-color: #a7ffa4;
}

.flagged {
    background-color: #ff313d;
}

.header, .footer {
    width:400px;
}

.header div {
    float:left;
    width:33.3333%;
    text-align: center;
    height:40px;
    border:1px solid #cccccc;
    padding-top:7px;
}

.footer div {
    width:50%;
    float:left;
}
